<h2>Category List</h2>

<table>
  <tr>
    <th>No.</th>
    <th>Category Name</th>
  </tr>
  @foreach (var category in categories)
  {
    <tr>
    <th>@Model.GetId()</th>
    <th><a href='/@category.GetName()/tasklist'>@Model.GetName()</a></th>
    </tr>
  }
</table>

<a href="/AddCategory">Add Category</a>
<a href="/">Homepage</a>
